body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Catamaran';
    font-weight: 800 !important;
    line-height: 1.2;
}


.topnav {
    font-size: 14px;
    background-color:rgba(0, 0, 0, 0.5);


}

.navbar-defaults{
    background-color:transparent !important;
    border-color:transparent;
    background-image:none;
    box-shadow:none;
}

.lead {
    font-size: 1.7rem;
    font-weight: 400;
    text-align: left;
    margin-left: 20px;
    margin-right: 30px;
}

.intro-header {
    padding-top: 5px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background-image:url("img/intro-bg.jpg");
    background-size:cover;
}

.intro-message {
    position: center;
    padding-top:200px;
    padding-bottom: 20px;
    /*font-family: 'Catamaran', fantasy;*/
    /*font-size:40px;*/
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 10rem;
}
.intro-message > h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 6.3rem;
}


.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;

    }

    .intro-message > h1 {
        font-size: 5rem;
    }

    .intro-message > h2 {
        font-size: 3rem;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;

    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}
@media(max-width:209px) {
    .intro-message {
        text-align:center;

    }

    .intro-message > h1 {
        font-size: 3.3rem;
    }
    .intro-message > h2 {
        font-size: 1.8rem;
    }

    ul.intro-social-buttons > li {
        /*display: block;*/
        /*margin-bottom: 20px;*/
        /*padding: 0;*/
        align-content: center;

    }

}
@media(min-width:375px){
    a.navbar-brand{
        padding-left: 150px!important;
    }

}
    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }
.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    /*background-color: #f8f8f8;*/
    background-color: white;
}

.content-section-b {
    padding: 50px 0;
    /*border-top: 1px solid #e7e7e7;*/
    /*border-bottom: 1px solid #e7e7e7;*/
}

.section-heading {
    margin-bottom: 30px;
    text-align: left;
    margin-left: 20px;
    font-weight: 800!important;
    font-size: 5.5rem;
}

.section-heading-spacer {
    float: left;
    width: 0px;
    border-top: 3px solid #e7e7e7;
}



.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

img {
  border-radius: 50%;
}

.footer {
    padding: 45px 0;
    background-color: black;
    font-weight: lighter;


}
p.copyright {
    margin: 10px;
}
/*.navbar-header{*/
/*    background-color: rgba(0,0,0,.7);*/
/*}*/
a.navbar-brand{
    letter-spacing: .1rem;
    font-weight: 600;
    color: white;
    padding-top: 25px;
    text-transform: uppercase;
    /*padding-left: 150px!important;*/

}

.btn-primary {
    background-color: #ee0979;
    border-color: #ee0979;
    height: 70px;
    width: 200px;
}

.btn-xl {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: .1rem;
    padding-top: 25px;
}
.mt-5, .my-5 {
    margin-top: 3rem!important;
}

.rounded-pill {
    border-radius: 50rem!important;
}
.img-responsive{
    max-width: 100%;
}
.text-muted{
    color: white;
}
.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

a:hover{
    color: white!important;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}
.navbar-collapse{
    padding-top: 13px;
    text-transform: uppercase;
    margin-left: 850px;
}
.padding{
    padding-right: 130px!important;
}
